{% extends "Portfolio/layout.html" %}

{% load static %}


{% block title %}
    Index
{% endblock %}

{% block main %}

<!doctype html>
<html lang="en" class="no-js">
<head>
  <base target="_blank">
  <meta charset="UTF-8" />
  <title>Dennis Loevlie, Ph.D. Student</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'Portfolio/img/favicon.png' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Portfolio/css/style.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" type="text/css">
  <!-- remember, jQuery is completely optional -->
  <!-- <script type='text/javascript' src='js/jquery-1.11.1.min.js'></script> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script type="text/javascript" src="/static/Portfolio/js/jquery.particleground.js"></script>
  <script type="text/javascript" src="/static/Portfolio/js/demo.js"></script>

  <style>
* { color:#36454F; text-decoration: none;}
body {overflow-y:auto !important;}
  </style>

</head>

<body>
<div class="container-fluid" style="height: 100%;">
<!--<div class="row">-->
<div class="row" style="height: 100%;">
<div id="particles" class="col-xl-9">

  <div id="intro">
    <div class="typewriter">
      <h2 style="color: #36454F;">Hi, I'm Dennis Loevlie</h2>
      <h2 style="color: #36454F;">
        <a href="" class="typewrite" data-period="2000" data-type='["Passionate about Deep Learning.","Dedicated to research." ,"Love to Develop."]'>
          <span class="wrap"></span>
        </a>

      </h2>

        <hr style="width: 50%; background-color: #E83951; border-color: #E83951;">

        <a href="{% static 'Portfolio/PDF/Academic_CV_Nov_12.pdf' %}" style="color: 000000;"><img src="static/Portfolio/img/cv_icon.png" width="50" height="60"/></a>
        &nbsp
        <a href="https://www.linkedin.com/in/dennisloevlie/" style="color: 000000;"><i class="fab fa-linkedin" style="font-size: 2em;"></i></a>
    &nbsp
    <a href="https://www.facebook.com/denny.loevlie/" style="color: 000000;"><i class="fab fa-facebook" style="font-size: 2em;"></i></a>
    &nbsp
    <a href="https://github.com/loevlie/" style="color: 000000;"><i class="fab fa-github" style="font-size: 2em;"></i></a>
    &nbsp
    <a href="https://medium.com/@dennyloevlie" style="color: 000000;"><i class="fab fa-medium" style="font-size: 2em;"></i></a>


  </div>
  </div>



</div>
 <div class='col-xl-3 tweet'>
    <div class="twitter">
            <a class="twitter-timeline" data-width="100%" data-height="800px" data-dnt="true" data-link-color="#008AFF" href="https://twitter.com/DennisLoevlie">Tweets by Dennis Loevlie</a>
    </div>
</div>

<!--</div>-->
</div>
</div>
</body>
</html>


<script>
  var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        var delta = 200 - Math.random() * 1000;
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        var delta = 200 - Math.random() * 100;
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;


        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #36454F}";
        document.body.appendChild(css);
    };
</script>

{% endblock %}